{%- macro gen_class_creation(class_) -%}
    {{ 'if(str.equals("' }}{{ class_.name.name.lower() }}{{  '")){'   }}
        {% filter  indent(4, True) -%}
        {{ 'currentObject = create' }}{{class_.name}}{{ '(element);' }}
        {% endfilter %}
    {{ '\n}' }}
{%- endmacro -%}


{%- macro gen_func(class_) -%}
    {{ 'public abstract Object create' }}{{class_.name}}{{'(JsonElement je);'}}
{%- endmacro -%}


{%- macro generate(classes) -%}


import com.google.gson.*;

import javax.annotation.Nullable;
import java.lang.reflect.InvocationTargetException;
import java.lang.reflect.Type;
import java.util.*;

/**
* To override this class, you must override every createClass(JsonElement je) method.
* The easiest way to do it is to call create(JsonElement je, Type class) method
* example:
* @Override
* public Object createClass(JsonElement je){
*   return create(je, MyClass.class);
* }
* With MyClass you must override Class.
*
*/
public abstract class Decoder{

    private Gson gson;

    public Decoder(){
        gson = new Gson();
    }

    public Map fromJson(String jsonString) throws NoSuchMethodException, InvocationTargetException, IllegalAccessException {
        Map<String, Object> result = new HashMap<String, Object>();
        JsonObject je = new JsonParser().parse(jsonString).getAsJsonObject();
        Set<String> keys = je.getAsJsonObject().keySet();
        for(String key : keys){
            JsonElement jsonElement = je.get(key);
            Object obj;
            if(jsonElement.isJsonArray()){
                obj = readArray(jsonElement.getAsJsonArray());
            } else {
                obj = readObject(jsonElement);
            }
            result.put(key,obj);
        }
        return result;
    }

    private Object readArray(JsonArray array) throws NoSuchMethodException, InvocationTargetException, IllegalAccessException {
       List<Object> res = new ArrayList<Object>();
        for(JsonElement element : array){
            res.add(readObject(element));
        }
        return res;
    }


    @Nullable
    private Object readObject(JsonElement element){
        String str = element.getAsJsonObject().get("type").getAsString();
        Object currentObject = null;

        {% filter  indent(8, True) -%}
        {% for cls in classes -%}
            {{  gen_class_creation(cls) ~ '\n'}}
        {% endfor %}
        {% endfilter %}

        return currentObject;
    }


    {% filter  indent(4, True) -%}
    {% for cls in classes -%}
        {{ gen_func(cls) ~ '\n' }}
    {% endfor %}
    {% endfilter %}

    public Object create(JsonElement je, Type type){
        return gson.fromJson(je, type);
    }
}


{%- endmacro -%}

{{ generate(classes) }}
