{%- macro generate(classes) -%}


import com.google.gson.Gson;
import com.google.gson.JsonArray;
import com.google.gson.JsonElement;
import com.google.gson.JsonParser;

import java.lang.reflect.InvocationTargetException;
import java.lang.reflect.Type;
import java.util.HashMap;
import java.util.Map;

/**
* При переопределении абстрактных методов createClass(JsonElement je) предлагается воспользоваться стандартным
* create(JsonElement je, Type type), передав в него тип, соответствующий классу, которым вы переопределили Class.
* Также вы можете восстановить из je объект сами, если считаете нужным
*/
public abstract class Decoder{

    private Gson gson;

    public Decoder(){
        gson = new Gson();
    }

    public List<Object> fromJson(String jsonString){
        JsonArray jsonArray = new JsonParser()
                .parse(jsonString)
                .getAsJsonObject()
                .get("entities")
                .getAsJsonArray();
        Map<String, Object> objects = new HashMap<String, Object>();
        for(JsonElement element : jsonArray){
            String str = element.getAsJsonObject().get("type").getAsString();
            {% filter  indent(12, True) -%}
            Object currentObject = null;
            {% for cls in classes -%}
                {{ cls.name | gen_block_for_cls ~ '\n'}}
            {% endfor %}
            {% endfilter %}

            String id = (String) currentObject.getClass().getMethod("id").invoke(currentObject);
            objects.put(id, currentObject);
        }
        return objects;
    }

    {% filter  indent(4, True) -%}
    {% for cls in classes -%}
        {{ cls.name | gen_class_function ~ '\n' }}
    {% endfor %}
    {% endfilter %}

    public Object create(JsonElement je, Type type){
        return gson.fromJson(je, type);
    }
}


{%- endmacro -%}

{{ generate(classes) }}